body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  background: #9756be;
  color: #fff;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
}

nav ul {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}


nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  transition: color 0.3s ease;
}


nav ul li a:hover {
  color: #c39be8;
}

#home {
  background: #ece3f4;
}

#impacto-cultural {
  background: #d4c0e6;
}

#principais-artistas {
  background: #bca2d1;
}

#hip-hop-moda {
  background: #a764bf;
}

section {
  padding: 100px 20px 60px 20px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  text-align: justify;
}

section h1,
section h2,
section h3 {
  text-align: center;
  margin-bottom: 20px;
  font-family: monospace;
  text-align: center;
}


img {
  max-width: 60%;
  height: auto;
  display: block;
  margin: 10px auto;
  border-radius: 10px;
  object-fit: contain;
}

footer {
  text-align: center;
  padding: 20px 0;
  background: #9756be;
  color: white;
  position: relative;
}

.artistas {
  max-width: 900%;
  display: flex;
  margin-top: 20px;
}

.artistas figure {
  text-align: center;
  width: 110%;
}

figcaption {
  margin-top: 8px;
  font-family: monospace;
  color: #000000;
  font-weight: 20;
}